<div *ngIf="form"
     class="container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Usuario"
                               [control]="form.controls['username']"
                               [errors]="errors['username']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Constraseña"
                               type="password"
                               [control]="form.controls['password']"
                               [errors]="errors['password']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn-full-width"
                mat-raised-button
                type="submit">Iniciar sesión</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </form>
</div>
