<div class="container">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        autocomplete="on">
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Email"
                               autocomplete="email"
                               type="email"
                               [control]="form.controls['email']"
                               [errors]="errors['email']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Password"
                               autocomplete="current-password"
                               type="password"
                               [control]="form.controls['password']"
                               [errors]="errors['password']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button color="primary"
                class="btn-full-width"
                mat-raised-button
                type="submit">Login
          <mat-spinner *ngIf="loading"
                       class="spinner"
                       color="accent"
                       [diameter]="20"></mat-spinner>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button [routerLink]="['../', 'register']"
                class="btn-full-width"
                mat-raised-button
                type="submit">Create account
        </button>
      </div>
    </div>
  </form>
</div>
