<div *ngIf="form"
     class="container">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-12">
        <app-material-input [control]="form.controls['username']"
                            [placeHolder]="'Usuario'"
                            [errors]="errors['username']">
        </app-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn-full-width"
                mat-raised-button
                type="submit">Iniciar sesión</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">

      </div>
    </div>
  </form>
</div>
