@import 'colors';

.btn-full-width {
  width: 100%;
}

// spinner
.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  margin-top: 0px;
  margin-left: 5px;
}
