$primary: #EF5350;
$accent: #C5E1A5;
$warm: #FFC400;

// Indigo
$indigo: #1565C0;
$indigo-light: #9fa8da;
// Green
$green: #388e3c;
$green-light: #a5d6a7;
// Red
$red: #ff7043;
$red-light: #ffab91;
$red-error: #ff1744;
// Amber:
$amber: #ffca28;
$amber-light: #ffe082;
// Blue grey
$blue-grey: #263238;
$blue-light-grey: #78909c;
// Grey
$grey: #BDBDBD;
$light-grey: #EEEEEE;

$white: #fff;
