<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="!data.length"
           class="alert alert-warning"
           role="alert">
        You don't have any people in your account
      </div>
    </div>
  </div>
  <div *ngIf="data.length"
       class="row">
    <div class="col-12">
      <app-people-table [data]="data"></app-people-table>
    </div>
  </div>
  <div id="add-button-container">
    <button [routerLink]="['add']"
            mat-fab
            color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
