<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-table #table
                 [dataSource]="dataSource"
                 matSort>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="last_name">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header> Last Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.last_name}}</mat-cell>
        </ng-container>

        <!-- Age Column -->
        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header> Age</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.age}}</mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button
                    [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="edit(element.id)"
                      mat-menu-item>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <span>Delete</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
