<div class="container">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        autocomplete="on">
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="First Name"
                               autocomplete="first-name"
                               [control]="form.controls['firstName']"
                               [errors]="errors['firstName']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Last Name"
                               autocomplete="last-name"
                               [control]="form.controls['lastName']"
                               [errors]="errors['lastName']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Email"
                               autocomplete="email"
                               type="email"
                               [control]="form.controls['email']"
                               [errors]="errors['email']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <blungo-material-input placeHolder="Password"
                               autocomplete="password"
                               type="password"
                               [control]="form.controls['password']"
                               [errors]="errors['password']">
        </blungo-material-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button color="primary"
                class="btn-full-width"
                mat-raised-button
                type="submit">Register</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button [routerLink]="['../', 'login']"
                class="btn-full-width"
                mat-raised-button
                type="submit">Cancel</button>
      </div>
    </div>
  </form>
</div>
